/* Header Section */
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.header {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 130px; */
  padding: 10px 0px 0px 30px;
  margin: 0px 104px 10px 104px;
  flex-wrap: wrap;
}

/* menu btn */

.menu-btn {
  display: none;
  background-color: #005cbf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.menu-btn:hover {
  background-color: #004a94;
}

.favicon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  border: 1px solid #ccc;
  width: 98%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.auth-links {
  font-size: 10px;
  margin-right: 12px;
  text-decoration: underline;
}

.auth-links a {
  color: #00008b;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.search-menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.login-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-btn {
  display: none;
  background-color: #005cbf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.login-btn:hover {
  background-color: #004a94;
}

/* NavBar Section */

.main-nav {
  position: relative;
}

nav {
  background-color: #005cbf;
  display: flex;
  justify-content: center;
  padding: 0;
  height: auto;
  align-items: center;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

nav > ul > li {
  /* position: relative; */
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 8px;
  display: block;
  white-space: nowrap;
}

nav > ul > li:hover {
  background-color: #004a94;
}

/* Dropdown styles */

nav ul li:hover > .dropdown {
  display: flex;
}

.dropdown {
  position: absolute;
  top: 16%;
  left: 55%;
  background-color: #3b82f6;
  display: none;
  width: auto;
  flex-direction: column;
  z-index: 1000;
  border-radius: 4px;
  height: auto;
  padding: 0px 0px 0px 0px;
}

.dropdown li {
  position: relative;
}

.dropdown a {
  padding: 12px 16px;
  color: white;
}

.dropdown li:hover {
  background-color: #2563eb;
}

.dropdown li:hover > .sub-dropdown {
  display: flex;
}

.sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #60a5fa;
  display: none;
  width: auto;
  height: auto;
  flex-direction: column;
  border-radius: 4px;
  z-index: 1001;
  padding: 0px;
}

.sub-dropdown li:hover {
  background-color: #3b82f6;
}

/* Main Container */

.container {
  max-width: 1432px;
  margin: auto;
  padding: 15px 50px 12px 50px;
  background-color: #f1f0f0;
  overflow: hidden;
}

.sub-container {
  display: flex;
  gap: 16px;
}

.breadcrumb {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  font-weight: 700;
  color: #0077cc;
  align-items: center;
  display: flex;
}

.breadcrumb span {
  color: #0077cc;
}

.breadcrumb a {
  text-decoration: none;
  color: #0077cc;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
/* 
.highlight {
  background: #dcdcdc;
  padding: 5px 10px;
  font-weight: bold;
} */

.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #ccc;
  background: white;
  margin-top: 15px;
}

.tabs button {
  background: none;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 4px solid transparent;
}

.tabs button.active {
  border-bottom: 4px solid #005cbf;
  font-weight: bold;
}

.content-box {
  min-width: 300px;
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.content-box-cat {
  width: auto;
  background: white;
  padding: 10px 50px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.content-box.toc {
  min-width: 300px;
  flex-wrap: wrap;
  padding: 20px 50px 20px 50px;
}

ul {
  list-style-type: circle;
}

.update-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.update-info i {
  margin-right: 5px;
}

.content-box a {
  color: #0000ff;
}

.preparing-tag {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 6px;
}

.toc {
  margin-top: 15px;
  padding: 16px 0px 16px 0px;
  flex-wrap: wrap;
}

.toc h3 {
  margin-bottom: 5px;
}

.toc ul {
  list-style: none;
  padding-left: 0;
}

.toc li {
  margin: 5px 0;
  color: #0000ff;
}

.toc li:hover {
  cursor: pointer;
}

/* .topic-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
} */

.section-title {
  font-weight: bold;
  margin-top: 20px;
  flex-wrap: wrap;
  min-width: 300px;
}

.important-img {
  width: 967px;
}

/* 2. Table */

.cat-table {
  width: 92%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 10px;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.cat-table th {
  background-color: #014a94;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.cat-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.cat-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cat-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.selected-list li {
  font-size: 16px;
  color: black;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Topic 12 */
.faq-container {
  font-family: Arial, sans-serif;
}

.faq-item {
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question {
  padding: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #333;
}

.faq-answer {
  display: none;
  padding: 0 16px 16px;
  font-size: 14px;
  color: #444;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .icon {
  transform: rotate(180deg);
  font-size: 20px;
}

.icon {
  font-size: 20px;
  color: #0056b3;
  font-weight: bold;
}

/* PDF Section */
.pdf-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px 20px;
  max-width: 89%;
  background-color: white;
}

.pdf-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pdf-icon {
  width: 20px;
  height: 20px;
}

.pdf-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.download-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.download-btn:hover {
  background-color: #004494;
}

/* Notification Section */

.notification-card {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  min-width: 240px;
  flex-wrap: wrap;
}

.notification-card h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
  font-weight: 600;
}

.notification-card hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.notification-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-card li {
  margin-bottom: 10px;
}

.notification-card a {
  color: #0000ff;
  text-decoration: none;
  font-weight: bold;
}

.notification-card a:hover {
  text-decoration: underline;
}

/* Add Images */

.add-img {
  margin-top: 8px;
  width: 377px;
  /* min-width: 77px; */
  background: white;
  padding: 4px 4px 4px 4px;
  box-shadow: 0 2px 6px rgba(202, 19, 19, 0.1);
  /* flex-wrap: wrap; */
  /* display: flex; */
}

.add-img img {
  width: 340px;
  /* height: 247px; */
}

/* Footer Section */

.footer {
  background-color: #005bac;
  color: white;
  padding: 30px 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1 1 14%;
  min-width: 160px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column a {
  display: block;
  color: white;
  font-size: 13px;
  margin-bottom: 6px;
  text-decoration: underline;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-logo {
  margin-top: 10px;
  width: 150px;
}

.footer-bottom {
  text-align: center;
  padding: 15px 10px;
  font-size: 13px;
}

.footer-bottom-contact {
  border-bottom: 1px solid #1a6ad3;
}

.footer-bottom p {
  font-size: 16px;
}

.footer-bottom a {
  color: #d3e6ff;
  text-decoration: underline;
}

.footer-bottom-contact {
  display: flex;
  justify-content: space-between;
}

.social-icons a img {
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .sub-container {
    flex-direction: column;
  }

  .auth-links {
    display: none;
  }

  nav ul {
    position: absolute;
    background-color: #005cbf;
    left: -115%;
    top: 0%;
    width: 100%;
    height: auto;
    padding: 40px 20px 20px 0px;
    transition: left 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    background-color: #005cbf;
  }

  nav ul.active {
    left: 0;
  }

  .menu-btn {
    display: block;
    margin-right: 20px;
  }

  .login-btn {
    display: block;
    margin-right: 20px;
  }

  .add-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .add-img img {
    display: flex;
    width: 45%;
    padding: 10px 20px;
  }
}

@media (max-width: 990px) {
  .search-menu-btn{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px 20px;
  }

  .content-box.toc {
    padding: 0px 20px;
  }

  .add-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .add-img img {
    display: flex;
    width: 40%;
    padding: 10px 20px;
  }

  .header {
    margin: 0px 104px 20px 104px; ;
  }

  .search-menu-btn{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

}

@media (max-width: 460px) {
  .add-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .add-img img {
    display: flex;
    width: 100%;
    padding: 10px 4px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 0px ;
  }

  .search-menu-btn{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .login-menu-btn{
    margin-top: 0px;
  }
}
